
create repository exist
end repository

create repository exist-vim-plugin
end repository

create repository exist-eclipse-plugin
end repository


# ignore the SVN-adjusting commits
match /
	min revision 18277
	max revision 18293
end match

# trunk/eXist
match /trunk/eXist/
	repository exist
	branch master
end match

# trunk/eXist <- trunk/eXist-1.0@4757 (rev 4758)
match /trunk/eXist-1.0/	
	max revision 9972	# was moved to attic/eXist-1.0 in 9973
	repository exist
	branch eXist-1.0-trunk	#  we already have branches/eXist-1.0.x and branches/eXist-1.0 
end match


# trunk/eXist-1.0/src <- branches/DLN/eXist-1.0/src@4756 (rev 4757) 
match /branches/DLN/eXist-1.0/
	repository exist
	branch dln/eXist-1.0
end match


# branches/DLN <- trunk@2684 (rev 2685)
# dont need we need do anything from here as this is matched by trunk/eXist-1.0 above

# branches/eXist-1.0 <- trunk/eXist-1.0@4754 (rev 4755)
match /branches/eXist-1.0/
	max revision 10444	# was moved to stable/eXist-1.0.x in 10445
	repository exist
	branch eXist-1.0
end match


### taking care of /stable

# stable/eXist-1.0 <- branches/eXist-1.0@10444 (rev 10445)
match /stable/eXist-1.0/
	repository exist
	branch eXist-1.0.x
end match

# branches/eXist-stable-1.2 <- trunk/eXist@7249 (rev 7250)
match /branches/eXist-stable-1.2/
	max revision 10445	# moved to stable/eXist-1.2.x in 10446	
	repository exist
	branch eXist-1.2.x
end match

# stable/eXist-1.2.x <- branches/eXist-stable-1.2@10445 (rev 10446)
match /stable/eXist-1.2.x/
	repository exist
	branch eXist-1.2.x
end match

# stable/eXist-1.4.x <- trunk/eXist@10446 (rev 10447)
match /stable/eXist-1.4.x/
	repository exist
	branch eXist-1.4.x
end match

# stable/eXist-2.0.x <- trunk/eXist@17694 (rev 17695)
match /stable/eXist-2.0.x/
	min revision 17695	# bad copy done before
	repository exist
	branch eXist-2.0.x
end match


### taking care of /tags aka releases

# releases/eXist-1.0-rc1 <- trunk/eXist-1.0@3851 (rev 3852)
match /releases/eXist-1.0-rc1/
	max revision 8274	# moved to /attic in 8275
	repository exist
	branch refs/tags/eXist-1.0.RC1
end match 

# releases/eXist-1.0-rc2 <- trunk/eXist-1.0@4285 (rev4286)
match /releases/eXist-1.0-rc2/
        max revision 8274	# moved to /attic in 8275
	repository exist 
        branch refs/tags/eXist-1.0.RC2
end match

# releases/eXist-1.1-rc2 <- branches/DLN/eXist-1.0@4289 (rev 4290)
match /releases/eXist-1.1-rc2/
	max revision 8274	# moved to /attic in 8275
	repository exist 
        branch refs/tags/eXist-1.1.RC2
end match

# releases/eXist-1.1-final/src <- branches/DLN/eXist-1.0/src@4657 (rev 4658)
match /releases/eXist-1.1-final/
	max revision 8276	# renamed to /releases/eXist-1.1 in 8277
	repository exist
	branch refs/tags/eXist-1.1
end match

# releases/eXist-1.0-final <- trunk/eXist-1.0@4658 (rev 4659)
match /releases/eXist-1.0-final/
	max revision 8275	# renamed to /releases/eXist-1.0 in 8276	
	repository exist
	branch refs/tags/eXist-1.0
end match

# releases/eXist-1.0.1 <- trunk/eXist-1.0@4723 (rev 4724)
match /releases/eXist-1.0.1/
	repository exist
	branch refs/tags/eXist-1.0.1
end match

# releases/eXist-1.1.1/src <- branches/DLN/eXist-1.0/src@4723 (rev 4735)
match /releases/eXist-1.1.1/
	repository exist
	branch refs/tags/eXist-1.1.1
end match

# releases/eXist-1.2 <- trunk/eXist@7248 (rev 7249)
match /releases/eXist-1.2/
	min revision 7249	# bad copy done before
	repository exist
	branch refs/tags/eXist-1.2
end match

# NB 1.2.x releases require branches/eXist-stable-1.2 which is taken care of in stable section above

# releases/eXist-stable-1.2 <- branches/eXist-stable-1.2@7771 (rev 7772)
match /releases/eXist-stable-1.2/
	repository exist
	branch refs/tags/eXist-1.2.1
end match

# releases/eXist-1.2.1 <- releases/eXist-stable-1.2@7772 (rev 7773) 
match /releases/eXist-1.2.1/
	repository exist
	branch refs/tags/eXist-1.2.1
end match

# releases/eXist-1.2.2 <- branches/eXist-stable-1.2@7812 (rev 7813)
match /releases/eXist-1.2.2/
	repository exist
	branch refs/tags/eXist-1.2.2
end match

# releases/eXist-1.2.3 <- branches/eXist-stable-1.2@7872 (rev 7873)
match /releases/eXist-1.2.3/
	repository exist
	branch refs/tags/eXist-1.2.3
end match

# releases/eXist-1.2.4 <- branches/eXist-stable-1.2@8072 (rev 8182)
match /releases/eXist-1.2.4/
	repository exist
	branch refs/tags/eXist-1.2.4
end match

# releases/eXist-1.2.5 <- branches/eXist-stable-1.2@8668 (rev 8669)
match /releases/eXist-1.2.5/
        repository exist
        branch refs/tags/eXist-1.2.5
end match

# releases/eXist-1.2.6 <- branches/eXist-stable-1.2@9170 (rev 9171)
match /releases/eXist-1.2.6/
        repository exist
        branch refs/tags/eXist-1.2.6
end match

# tags/eXist-1.3.0-dev <- trunk/eXist@9966 (rev 9967)
match /tags/eXist-1.3.0-dev/
	max revision 15948	# renamed to attic/eXist-1.3.0-dev in 15949
	repository exist
	branch refs/tags/eXist-1.3
end match

# releases/eXist-1.4 <- trunk/eXist@10442 (rev 10443)
match /releases/eXist-1.4/
	min revision 10443	# bad copy done before
	repository exist
	branch refs/tags/eXist-1.4
end match

# NB 1.4.x releases require stable/eXist-stable-1.4 which is taken care of in stable section above

# releases/eXist-1.4.1 <- stable/eXist-1.4.x@15155 (rev 15156)
match /releases/eXist-1.4.1/
	repository exist
	branch refs/tags/eXist-1.4.1
end match

# releases/eXist-2.0-tech-preview <- trunk/eXist@15855 (rev 15886)
match /releases/eXist-2.0-tech-preview/
	max revision 15886	# renamed to tags/eXist-2.0-tech-preview in 15891, and later re-copied in 15945
	repository exist
	branch refs/tags/eXist-2.0-tech-preview
end match

# releases/eXist-1.4.3 <- trunk/eXist@16255 (rev 16256)
match /releases/eXist-1.4.3/
	min revision 16256	# bad copy before
	repository exist
	branch refs/tags/eXist-1.4.3
end match

# tags/eXist-2.0 <- trunk/eXist@18252 (rev 18274)
match /tags/eXist-2.0/
	repository exist
	branch refs/tags/eXist-2.0
end match

# tags/eXist-2.0-RC1 <- trunk/eXist@17686 (rev 18275)
match /tags/eXist-2.0-RC1/
	repository exist
	branch refs/tags/eXist-2.0.RC1
end match

# tags/eXist-2.0-RC2 <- trunk/eXist@17988 (rev 18276)
match /tags/eXist-2.0-RC2/
	repository exist
	branch refs/tags/eXist-2.0.RC2
end match



#old below

match /trunk/VIMeXist/
	repository exist-vim-plugin
	branch master
end match

match /trunk/eclipse_plugin/
	repository exist-eclipse-plugin
	branch master
end match

match /([^/]+)/
end match

